<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View category</title>
</head>
<body>
<h1>Category Detail</h1>
<p>
    <a href="/categories">Category list</a>
</p>
<form th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="*{description}"></td>
        </tr>
    </table>
</form>
<h2>Books of Category</h2>
<form th:object="${books}">
    <table>
        <tr>
            <td>Name</td>
            <td>Date Of Purchase</td>
            <td>Author</td>
            <td>Price</td>
        </tr>
        <th:block th:each="book: ${books}">
            <tr>
                <td th:text="${book.name}"></td>
                <td th:text="${book.dateOfPurchase}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
            </tr>
        </th:block>
    </table>
</form>
</body>
</html>